.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    padding-top: 20px;
    font-size: 30px;
    .header__logo{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-height: 80%;
            border-radius: 30px;
        }
    }
    .header__input{
        width: 20%;
        input{
            font-size: 20px;
            padding: 20px;
            width: 100%;
            border-radius: 30px;
            border: none;
            background-color: rgba(42, 60, 90, 0.85);
            color: white;
        }
        input:focus{
            outline: none;
        }
    }
}

@media screen and (max-width: 1280px){
    .header{
        .header__input{
            width: 30%;
        }
    }
}

@media screen and (max-width: 1000px){
    .header{
        .header__input{
            width: 50%;
        }
    }
}